<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Actions</key>
        <array>
                <dict>
                        <key>AppleScript File</key>
                        <string>toaca.applescript</string>
                        <key>Title</key>
                        <string>To ACA</string>
                        <key>Image File</key>
                        <string>toaca.png</string>
                </dict>
        </array>
        <key>Credits</key>
        <array>
                <dict>
                        <key>Link</key>
                        <string>xxx</string>
                        <key>Name</key>
                        <string>nasy</string>
                </dict>
        </array>
        <key>Extension Description</key>
        <string>Translate text with openai chatgpt.</string>
        <key>Extension Identifier</key>
        <string>com.nasy.popclip.extension.toaca</string>
        <key>Extension Name</key>
        <string>OpenAI -> ACA</string>
        <key>Required OS Version</key>
        <string>10.13</string>
</dict>
</plist>
